#### crowsnest - A webcam Service for multiple Cams and Stream Services.
####
#### Written by Stephan Wendel aka KwadFan <me@stephanwe.de>
#### Copyright 2021
#### https://github.com/mainsail-crew/crowsnest
####
#### This File is distributed under GPLv3
####

[Unit]
Description=crowsnest - Multi Webcam/Streamer Control Deamon
Documentation=https://github.com/mainsail-crew/crowsnest
After=udev.service network-online.target nss-lookup.target
Wants=udev.service network-online.target
Before=nginx.service
StartLimitBurst=10
StartLimitIntervalSec=180

[Install]
WantedBy=multi-user.target

[Service]
Environment=CROWSNEST_CONFIG=/home/pi/klipper_config/crowsnest.conf
Type=exec
User=pi
RemainAfterExit=Yes
ExecStart= /usr/local/bin/crowsnest -c ${CROWSNEST_CONFIG}
Restart=on-failure
RestartSec=5
