[submodule "bin/ustreamer"]
	path = bin/ustreamer
	url = https://github.com/pikvm/ustreamer
	branch = master
    ignore = untracked

[submodule "bin/RTSPtoWebRTC"]
	path = bin/RTSPtoWebRTC
	url = https://github.com/deepch/RTSPtoWebRTC
	branch = master
    ignore = untracked
